%section#main-content
	.row.body.sign-in
		.large-8.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1.subheader Modifier mes informations personnelles
						%hr
						= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mean", method: :put }) do |f|
							= f.label "Nom d'utilisateur"
							= f.text_field :username, autofocus: true, label: false

							= f.label "Email"
							= f.email_field :email, label: false

							- if devise_mapping.confirmable? && resource.pending_reconfirmation?
								%span Currently waiting confirmation for: <%= resource.unconfirmed_email

							= f.label "Nouveau Mot de passe (ne pas remplir si vous ne souhaitez le changer)"
							= f.password_field :password, autocomplete: "off", label: false

							= f.label "Confirmer le nouveau mot de passe"
							= f.password_field :password_confirmation, autocomplete: "off", label: false

							= f.label "Mot de passe actuel (requis pour valider vos changements)", nil, class: "required"
							= f.password_field :current_password, autocomplete: "off", label: false

							= f.submit "Mettre à jour", class: "button right"

						.row
							.large-12.small-12.columns
								%h3 Supprimer mon compte

								%h6 Pour supprimer votre compte, veuillez cliquer sur le bouton ci-dessous. 
								%h6 Attention si vous avez un espace en location ou que vous louez un espace, vous devez attendre la fin de la réservation en cours pour supprimer votre compte!
								%h6 Toutes vos données et vos annonces seront supprimées. Cette action est irrévocable.
								%br
								= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte?" }, method: :delete, class: "button radius expand"
								%br
								= link_to "Retour", :back, class: "button"