%section#main-content
	.row.body.sign-in
		.large-7.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						- unless notice.nil?
							.alert-box.info.radius{ "data-alert" => "" }
								= notice
								%a{ href: "#", class: "close" } &times;
						- unless alert.nil?
							.alert-box.alert.radius{ "data-alert" => "" }
								= alert
								%a{ href: "#", class: "close" } &times;
						%h1.subheader Inscription
						%hr			
						= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'mean'}) do |f|
							.row
								.small-12.large-12.columns
									%canvas#myCanvas{ width: 100, height: 100 }
									#user_avatar= image_tag "user.png"
									= f.file_field :avatar, label: false, id: "pictureInput"
							.row
								.small-12.medium-6.large-6.columns
									= f.label "Prénom", nil, class: 'required'
									= f.text_field :first_name, autofocus: true, label: false
								.small-12.medium-6.large-6.columns
									= f.label "Nom", nil, class: 'required'
									= f.text_field :last_name, label: false
							.row
								.small-12.medium-6.large-6.columns
									= f.label "Email", nil, class: 'required'
									= f.email_field :email, label: false
								.small-12.medium-6.large-6.columns
									= f.label "Choisissez un nom d'utilisateur", nil, class: 'required'
									= f.text_field :username, label: false
							.row
								.small-12.medium-6.large-6.columns
									= f.label "Mot de passe", nil, class: 'required'
									= f.password_field :password, autocomplete: "off", placeholder: "8 caractères minimum", label: false
								.small-12.medium-6.large-6.columns
									= f.label "Confirmer le mot de passe", nil, class: 'required'
									= f.password_field :password_confirmation, autocomplete: "off", placeholder: "8 caractères minimum", label: false
							.row
								.small-12.large-12.columns
									= f.check_box :accept_cgu, label: false, style: "float:left; margin-top: 5px; margin-right:10px"
									= "J'ai lu et j'accepte les <a href='/cgu'>conditions générales d'utilisation</a>".html_safe
							
							= f.submit "Valider", class: "button radius right success"
						
							%hr
							%h3.subheader Vous possédez déjà un compte?
							= link_to "Se connecter", new_session_path(resource_name), class: "button radius expand"
							
- content_for :scripts do
	:javascript
		$('#myCanvas').hide();
		var imageLoader = document.getElementById('pictureInput');
		imageLoader.addEventListener('change', handleImage, false);
		var canvas = document.getElementById('myCanvas');
		var ctx = canvas.getContext('2d');
		function handleImage(e){
			var reader = new FileReader();
			reader.onload = function(event){
				$('#user_avatar').hide();
				$('#myCanvas').show();
				var img = new Image();
				img.onload = function(){
					ctx.drawImage(img,0,0,img.width, img.height, 0, 0, canvas.width, canvas.height);
				}
				img.src = event.target.result;
			}
			reader.readAsDataURL(e.target.files[0]);     
		}