- content_for(:title, "#{@article.title}")
.blog.row.bump-25
	.large-12.columns
		.post-box
			.row
				.large-8.columns.large-centered
					.new-post
						%br
						%h1.light= @article.title
						%hr
						%img{src: "http://s3.eu-central-1.amazonaws.com/sharestockage/blog/blog-sharestockage-#{@article.id}.jpg", alt: "header-garde-meuble-#{@article.id}"}
						.blog_content= @article.content.html_safe#gsub(/\n/,"<br/>")

					- if current_user and current_user.admin?
						= link_to "Modifier", edit_article_path(@article), class: "button radius small"
						= link_to "Supprimer", article_path(@article), method: :delete, class: "button radius alert small"
			.row
				.large-8.columns.large-centered
					%hr
					Partagez cet article
					= social_share_button_tag(@article.title, popup: true)
					= link_to "Retour au blog", articles_path, class: "button radius success small right"
					
					= render 'disqus'