%tr{ id: "conversation_#{conversation.id}", class: conversation.is_unread?(current_user) ? "bold" : "", "data-link" => conversation_path(conversation, box: params[:box] || 'inbox') }
	%td= truncate(conversation.subject, length: 30, omission: '...')
	%td= truncate(conversation.last_message.body, length: 50, omission: '...')
	%td= conversation.last_message.created_at.strftime("%d %B %Y, %H:%M")
	%td{ style: "text-align: right" }
		- if conversation.is_trashed?(current_user)
			= link_to 'Remettre', restore_conversation_path(conversation), method: :post
		- else
			= link_to conversation_path(conversation, box: params[:box] || 'inbox'), method: :delete, :'data-tooltip' => "", :'aria-haspopup' => "true", class: "has-tip", title:"Mettre à la corbeille" do
				%i.fa.fa-trash{ style: "font-size: 1.3em" }

- content_for :scripts do
	:javascript
		$("tr[data-link]").click(function() {
		  window.location = $(this).data("link");
		})