%section#main-content
	.row
		%dl.tabs
			%dd
				= link_to user_path(current_user) do
					%i.fa.fa-home
			%dd= link_to "Mon profil", edit_user_registration_path(current_user)
			%dd= link_to "Espace propriétaire", owner_space_user_path(current_user)
			%dd= link_to "Espace locataire", lodger_space_user_path(current_user)
			%dd.active= link_to "Messagerie", conversations_path
		%hr
		#main-content
			.row
				.small-12.large-12.columns
					%h1.subheader Messagerie
					%hr
		
				.small-3.large-3.columns
					= render partial: "mailboxes", locals: { box: @box }

				.small-9.large-9.columns
					%table#messages_table
						%thead
							%th Sujet
							%th Contenu
							%th Date
							%th
						%tbody
							%tr
								= render partial: 'conversations/conversation', collection: @conversations

					= paginate @conversations