%section#main-content
	.row
		%dl.sub-nav
			%dd
				= link_to user_path(current_user) do
					%i.fa.fa-home
			%dd= link_to "Mon profil", edit_user_registration_path(current_user)
			%dd= link_to "Espace propriétaire", owner_space_user_path(current_user)
			%dd= link_to "Espace locataire", lodger_space_user_path(current_user)
			%dd.active= link_to "Messagerie", conversations_path
		%hr
		#main-content
			.row
				.small-12.large-12.columns
					%h1.subheader Messagerie
					%hr
		
				.small-3.large-3.columns
					= render partial: "mailboxes", locals: { box: @box }

				.small-9.large-9.columns
					.row
						.small-12.large-12.columns
							%h4= @conversation.subject
							%br
 
					- @conversation.receipts_for(current_user).each do |receipt|
						- message = receipt.message
						.panel{ class: message.sender_id == current_user.id ? "white_background" : "" }
							.row
								.small-2.large-2.columns
									- if User.exists?(message.sender_id)
										= image_tag message.sender.avatar(:thumb)
									- else
										= image_tag "user.png"
								.small-10.large-10.columns
									%h5
										%span{ style: "color:rgb(46,121,168); font-size: 120%"}
											- if User.exists?(message.sender_id)
												= message.sender.username
											- else
												Utilisateur désinscrit
										.right{ style: "font-size: 90%" }= message.created_at.strftime("%d/%m/%Y, %H:%M")
									%p= message.body.gsub(/\n/,"<br/>").html_safe
									
					.row
						.small-12.large-12.columns
							- if User.exists?(@conversation.messages.first.sender_id) and @conversation.messages.first.sender_id != @admin_user.id
								= form_tag reply_conversation_path(@conversation), method: :post do
									= text_area_tag 'body', nil, rows: 6, placeholder: 'Répondez ici...', required: true
									= submit_tag "Envoyer", class: "button radius"