%section#main-content
	.row
		.small-12.large-12.columns
			- unless notice.nil?
				.alert-box.info.radius{ "data-alert" => "" }
					= notice
					%a{ href: "#", class: "close" } &times;
			- unless alert.nil?
				.alert-box.alert.radius{ "data-alert" => "" }
					= alert
					%a{ href: "#", class: "close" } &times;
	.row
		%dl.sub-nav
			%dd
				= link_to user_path(current_user) do
					%i.fa.fa-home
			%dd= link_to "Mon profil", edit_user_registration_path(current_user)
			%dd= link_to "Espace propriétaire", owner_space_user_path(current_user)
			%dd.active= link_to "Espace locataire", lodger_space_user_path(current_user)
			%dd= link_to "Messagerie", conversations_path
		%hr
		#main-content
			.row
				.small-12.large-12.columns
					%h1.subheader Mes réservations
					%hr
					- if @user.reservations.pending_or_running.any?
						%table#adverts_table{ style: "width: 100%" }
							%tbody
								- @user.reservations.pending_or_running.order("id DESC").each do |r|
									%tr{ "data-link" => advert_path(r.advert) }
										= render partial: 'adverts/advert_line', locals: { advert: r.advert }
									%tr
										%td{ style: "text-align:center;" }
											- if r.validated
												%span{ style: "color: green" } RESERVATION VALIDEE
											- else
												%span{ style: "color: red" } En attente de validation
										%td
											Réservation du
											%strong= r.start_date.strftime("%d/%m/%Y")
											au
											%strong= r.end_date.strftime("%d/%m/%Y")
											\-
											Durée:
											%strong= r.duration
											jours
											\-
											Prix: CHF
											%strong= r.price
										%td
											= link_to "Modifier les dates", edit_advert_reservation_path(r.advert, r), data: {'reveal-id' => 'editReservationModal'}, class: "button tiny success right" unless r.validated
					
										#editReservationModal.reveal-modal{"data-reveal" => ""}
											= render partial: 'reservations/edit', locals: { advert: r.advert, reservation: r }
											%a.close-reveal-modal ×
					- else
						%h4.subheader Vous n'avez aucune demande de réservation en attente.