%section#main-content
	.row
		%dl.sub-nav
			%dd
				= link_to users_path do
					%i.fa.fa-home
			%dd= link_to "Mon profil", edit_user_registration_path
			%dd.active= link_to "Espace propriétaire", owner_space_users_path
			%dd= link_to "Espace locataire", lodger_space_users_path
			%dd= link_to "Messagerie", conversations_path
		%hr
		#main-content
			.row
				.small-12.large-12.columns
					- unless notice.nil?
						.alert-box.info.radius{ "data-alert" => "" }
							= notice
							%a{ href: "#", class: "close" } &times;
					- unless alert.nil?
						.alert-box.alert.radius{ "data-alert" => "" }
							= alert
							%a{ href: "#", class: "close" } &times;
			.row
				.small-12.large-12.columns
					%h1.subheader Mes annonces
					%hr
	
					- if @user.adverts.any?
						%table#adverts_table
							%tbody
								- @user.adverts.order("id DESC").each do |advert|
									%tr{ "data-link" => advert_path(advert) }
										= render partial: 'adverts/advert_line', locals: { advert: advert }
									%tr.adverts_action_line
										%td{ style: "text-align:center;" }
											- if advert.validated
												%span{ style: "color: green" } ANNONCE VALIDEE
											- else
												%span{ style: "color: red" } En attente de validation
										%td
											= link_to "Modifier l'annonce", advert_step_path(advert, Advert.form_steps.first), class: "button radius small"
											= link_to "Gérer les réservations", edit_advert_path(advert), class: "button radius small"
											- if advert.valid?
												- button_color = advert.activated ? "alert small" : "success small"
												%span{ id: "activation_link_#{advert.id}" }= link_to advert.activate_title, activate_advert_path(advert), method: :put, remote: true, class: "button radius #{button_color}"
											- if advert.is_deletable?
												= link_to "Supprimer l'annonce", advert_path(advert), method: :delete, data: { confirm: "Ètes-vous sûr de vouloir supprimer cette annonce?" }, class: "button radius alert small"
										%td
											- if advert.reservations.pending.any?
												%span.right
													= link_to "#{advert.reservations.pending.count} demande(s) de réservation en attente", edit_advert_path(advert), class: "red_link"

					- else
						%h4.subheader Vous n'avez créé aucune annonce.
						= link_to "Publier une annonce maintenant", adverts_path, method: :post, class: "button radius success"