.large-4.medium-4.hide-for-small.columns
	- if @advert.validated

		= link_to advert_step_path(@advert, Advert.form_steps[0]), class: "wizard_link" do
			= wizard_menu("general", "info", "Informations générales")
		= link_to advert_step_path(@advert, Advert.form_steps[1]), class: "wizard_link" do
			= wizard_menu("location", "map-marker", "Localisation")
		= link_to advert_step_path(@advert, Advert.form_steps[2]), class: "wizard_link" do
			= wizard_menu("description", "edit", "Description")
		= link_to advert_step_path(@advert, Advert.form_steps[3]), class: "wizard_link" do
			= wizard_menu("price", "euro", "Prix")
		= link_to new_advert_picture_path(@advert), class: "wizard_link" do
			= wizard_menu("pictures", "file-image-o", "Photos")
		= link_to "Retour à mon compte", owner_space_users_path, class: "button radius expand"

	- else

		= wizard_menu("general", "info", "Informations générales")
		= wizard_menu("location", "map-marker", "Localisation")
		= wizard_menu("description", "edit", "Description")
		= wizard_menu("price", "euro", "Prix")
		= wizard_menu("pictures", "file-image-o", "Photos")

- content_for :scripts do
	:javascript
		var wizard_step = document.getElementById('#{step}');
		wizard_step.className = wizard_step.className + " wizard_menu_active";