%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2 À propos de votre espace
						%hr
						
					.row
						.large-4.medium-4.small-4.columns
							- if @advert.validated
								= link_to advert_step_path(@advert, Advert.form_steps[0]), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-info
											Informations générales
								= link_to advert_step_path(@advert, Advert.form_steps[1]), method: :get, class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-map-marker
											Localisation
								= link_to advert_step_path(@advert, Advert.form_steps[2]), class: "wizard_link" do
									.panel{ style: "background-color:white; border: 1px solid rgb(84, 151, 86)" }
										%h4{ style: "color:rgb(84, 151, 86)" }
											%i.fa.fa-edit
											Description
								= link_to advert_step_path(@advert, Advert.form_steps[3]), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-euro
											Prix
								= link_to new_advert_picture_path(@advert), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-file-image-o
											Photos
								= link_to "Retour à mon compte", owner_space_user_path(current_user), class: "button radius expand"
							- else
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-info
										Informations générales
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-map-marker
										Localisation
								.panel{ style: "background-color:white; border: 1px solid rgb(84, 151, 86)" }
									%h4{ style: "color:rgb(84, 151, 86)" }
										%i.fa.fa-edit
										Description
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-euro
										Prix
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-file-image-o
										Photos

						.large-8.medium-8.small-8.columns
							%h4 Description de votre espace
							%hr
							= form_for @advert, url: wizard_path, method: :put do |f|
								%fieldset
									%legend Description générale

									= f.label "Décrivez votre espace en quelques lignes", nil, class: 'required'
									= f.text_area :description, rows: 6, label: false

								%fieldset
									%legend Détails
									.row
										.large-6.medium-6.small-6.columns
											= f.label "Type d'accès", nil, class: 'required'
											= f.select :access_type, options_for_select([["Accès sur rendez-vous", 0], ["Accès permanent", 1]]), label: false
										.large-6.medium-6.small-6.columns
											= f.label "Sécurité", nil, class: 'required'
											= f.select :security, options_for_select([["1 porte verrouillée", 1], ["2 portes verrouillées", 2], ["3 portes verrouillées", 3], ["4 portes verrouillées", 4], ["5 portes verrouillées", 5]]), label: false
									.row
										.large-6.medium-6.small-6.columns
											= f.label "Etage", nil, class: 'required'
											= f.select :floor, options_for_select([["-3", -3], ["-2", -2], ["-1", -1], ["0", 0], ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]]), label: false
										.large-6.medium-6.small-6.columns
											= f.label "Conservation", nil, class: 'required'
											= f.select :preservation, options_for_select([["De base (résisitant à l'humidité)", 0], ["Normale (cartons)", 1], ["Haute (électronique)", 2]]), label: false
			
									.row
										.large-6.medium-6.small-6.columns
											= f.label "Eclairage"
											= f.select :light, options_for_select([["Non", false], ["Oui", true]]), label: false
										.large-6.medium-6.small-6.columns
											= f.label "Gardien"
											= f.select :concierge, options_for_select([["Non", false], ["Oui", true]]), label: false
									.row
										.large-6.medium-6.small-6.columns
											= f.label "Accès en voiture"
											= f.select :car_access, options_for_select([["Non", false], ["Oui", true]]), label: false
										.large-6.medium-6.small-6.columns
											= f.label "Ascenceur"
											= f.select :elevator, options_for_select([["Non", false], ["Oui", true]]), label: false
									%hr
									= link_to "Précédent", previous_wizard_path, method: :get, class: "button small"
									= f.submit "Suivant", class: "button right small"