%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2 À propos de votre espace
						%hr
				.row
					.large-4.medium-4.small-4.columns
						.panel{ style: "background-color:white; border: 1px solid rgb(84, 151, 86)" }
							%h4{ style: "color:rgb(84, 151, 86)" }
								%i.fa.fa-info
								Informations générales
						.panel{ style: "background-color:white" }
							%h4{ style: "color:rgb(185, 185, 185)" }
								%i.fa.fa-map-marker
								Localisation
						.panel{ style: "background-color:white" }
							%h4{ style: "color:rgb(185, 185, 185)" }
								%i.fa.fa-edit
								Description
						.panel{ style: "background-color:white" }
							%h4{ style: "color:rgb(185, 185, 185)" }
								%i.fa.fa-euro
								Prix
						.panel{ style: "background-color:white" }
							%h4{ style: "color:rgb(185, 185, 185)" }
								%i.fa.fa-file-image-o
								Photos

					.large-8.medium-8.small-8.columns
						%h4 Informations générales
						%hr
						= form_for @advert, url: wizard_path, method: :put do |f|
							= f.label "Choisissez le titre de votre annonce", nil, class: 'required'
							= f.text_field :title, label: false
							.row
								.large-6.medium-6.small-6.columns
									= f.label "Quel type d'espace proposez-vous?", nil, class: 'required'
									= f.select :advert_type, options_for_select([["Box", 1], ["Cave", 2], ["Garage", 3], ["Grenier", 4]]), label: false
								.large-6.medium-6.small-6.columns
									= f.label "S'agit-il d'en espace complet ou partagé?", nil
									= f.select :complete, options_for_select([["Espace partagé", false], ["Espace complet", true]]), label: false
							.row
								.large-6.medium-6.small-6.columns
									%br
									= f.label "Surface", nil, class: 'required'
									.row.collapse
										.small-9.large-10.columns
											= f.number_field :area, label: false, step: "any", id: "area"
										.small-3.large-2.columns
											%span.postfix m²
								.large-6.medium-6.small-6.columns
									%br
									= f.label "Hauteur", nil, class: 'required'
									.row.collapse
										.small-9.large-10.columns
											= f.number_field :height, label: false, step: "any", id: "height"
										.small-3.large-2.columns
											%span.postfix m
							.row
								.large-12.medium-12.small-12.columns
									%h6#volume
										Ce qui équivaut à un volume de
										= @advert.volume if @advert.area and @advert.height
										m³
							%hr
							= f.submit "Suivant", class: "button right small"

- content_for :scripts do
	:javascript
		$('#area').bind("keyup mouseup", function(event) {
			var height = document.getElementById('height').value;
			var area = document.getElementById('area').value;
			$('#volume').html("Ce qui équivaut à un volume de " + height * area + " m³");
		});
		$('#height').bind("keyup mouseup", function(event) {
			var height = document.getElementById('height').value;
			var area = document.getElementById('area').value;
			$('#volume').html("Ce qui équivaut à un volume de " + height * area + " m³");
		});