%script{:src => "http://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;language=en", :type => "text/javascript"}
%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2 À propos de votre espace
						%hr
						
					.row
						.large-4.medium-4.hide-for-small.columns
							- if @advert.validated
								= link_to advert_step_path(@advert, Advert.form_steps[0]), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-info
											Informations générales
								= link_to advert_step_path(@advert, Advert.form_steps[1]), method: :get, class: "wizard_link" do
									.panel{ style: "background-color:white; border: 1px solid rgb(84, 151, 86)" }
										%h4{ style: "color:rgb(84, 151, 86)" }
											%i.fa.fa-map-marker
											Localisation
								= link_to advert_step_path(@advert, Advert.form_steps[2]), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }									
											%i.fa.fa-edit
											Description
								= link_to advert_step_path(@advert, Advert.form_steps[3]), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-euro
											Prix
								= link_to new_advert_picture_path(@advert), class: "wizard_link" do
									.panel{ style: "background-color:white" }
										%h4{ style: "color:rgb(185, 185, 185)" }
											%i.fa.fa-file-image-o
											Photos
								= link_to "Retour à mon compte", owner_space_users_path, class: "button radius expand"
							- else
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-info
										Informations générales
								.panel{ style: "background-color:white; border: 1px solid rgb(84, 151, 86)" }
									%h4{ style: "color:rgb(84, 151, 86)" }
										%i.fa.fa-map-marker
										Localisation
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-edit
										Description
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-euro
										Prix
								.panel{ style: "background-color:white" }
									%h4{ style: "color:rgb(185, 185, 185)" }
										%i.fa.fa-file-image-o
										Photos

						.large-8.medium-8.small-12.columns
							%h4 Indiquez l'addresse exacte de votre espace
							%hr
							= form_for @advert, url: wizard_path, method: :put do |f|
								= f.label "Adresse", nil, class: 'required'
								= f.text_field :address, id: "address_field", label: false

								= f.label "Ville", nil, class: 'required'
								= f.text_field :city, id: "city_field", label: false

								= f.label "Pays", nil, class: 'required'
								= f.select :country, options_for_select([["Suisse", "Suisse"]]), label: false

								%hr
								= link_to "Précédent", previous_wizard_path, class: "button small"
								= f.submit "Suivant", class: "button right small"