- content_for(:title, 'Prix')
%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2 À propos de votre espace
						%hr
						
					.row
						= render partial: "menu", locals: { advert: @advert, step: "price" }

						.large-8.medium-8.small-12.columns
							%h4 Choisissez le prix de votre espace
							%em{ style: "color:red; font-size: 80%" } Les champs marqués d'un * sont obligatoires.
							%hr
							= form_for @advert, url: wizard_path, method: :put do |f|
								%br
								= f.label "Veuillez indiquer le prix mensuel de votre espace", nil, class: 'required'
								.row.collapse
									.small-3.large-2.columns
										%span.prefix CHF
									.small-9.large-10.columns
										= f.number_field :price, step: "any", label: false, id: "price"
								.row
									.small-12.large-12.columns
										%h6#daily_price
											- if @advert.price
												Soit un montant quotidien de
												= @advert.daily_price
												CHF

								%hr
								= link_to "Précédent", previous_wizard_path, class: "button small"
								= f.submit "Suivant", class: "button right small"

- content_for :scripts do
	:javascript
		$('#price').bind("keyup mouseup", function(event) {
			var price = document.getElementById('price').value;
			$('#daily_price').html("Vous toucherez " + Math.round(price / 30 * 100) / 100 + " CHF par jour de location.");
		});