%script{:src => "http://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;language=en", :type => "text/javascript"}
%section#homepage-hero
	.row
		.medium-10.large-10.small-12.columns.large-centered.small-centered.panel.index-header-panel
			%h1 Share Stockage
			%br
			%h3 Espace de stockage entre particuliers
			= form_for '#', method: :get, url: adverts_path, id: "adverts_filter_form" do
				.row
					.large-3.small-6.columns
						.row.collapse
							.small-9.large-10.columns
								= text_field_tag "filter[address]", (params[:filter][:address] rescue nil), placeholder: "Ville", id: "location_field"
							.small-3.large-2.columns
								%span.postfix
									%i.fa.fa-map-marker
					.large-3.small-6.columns
						.row.collapse
							.small-9.large-10.columns
								= text_field_tag "filter[start_date]", (params[:filter][:start_date] rescue nil), placeholder: "Début"
							.small-3.large-2.columns
								%span.postfix
									%i.fa.fa-calendar
					.large-3.small-6.columns
						.row.collapse
							.small-9.large-10.columns
								= text_field_tag "filter[end_date]", (params[:filter][:end_date] rescue nil), placeholder: "Fin"
							.small-3.large-2.columns
								%span.postfix
									%i.fa.fa-calendar
					.large-3.small-6.columns
						= submit_tag "Rechercher", class: "button radius tiny"

%section#main-content
	.row
		.large-12.small-12.columns
			.row
				%h3.subheader{ style: "text-align:center; margin-bottom: 40px;" } Share Stockage: Trouvez un garde-meuble plus proche et moins cher
			.row
				.small-12.medium-9.large-9.large-centered.small-centered.medium-centered.columns
					%h4
						%i.fa.fa-lightbulb-o{ style: "margin-right: 10px" }
						Economique
					%h6 Vous payez moins cher que dans chez un professionnel et faites gagner de l'argent à votre voisin.
					%h4
						%i.fa.fa-tree{ style: "margin-right: 10px" }
						Ecologique
					%h6 Pas besoin de construire des entrepôts de stockage en béton et de conduire une heure pour s'y rendre quand on peut louer une cave ou un garage comme garde-meubles!
					%h4
						%i.fa.fa-users{ style: "margin-right: 10px" }
						Plus proche
					%h6 Vos affaires sont chez vos voisins, vous pouvez donc y accéder simplement et rapidement.
					
%section#main-content
	.row#index_help_section
		.large-12.medium-12.small-12.columns
			.row
				%hr.margin-bottom-40px
				%h3.subheader{ style: "text-align:center; margin-bottom: 40px;" } Avec Share Stockage, la location de cave, box ou garage est simple et rapide
			
			%h3 Vous proposez un espace?
			%br
			.row{ "data-equalizer" => "" }
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(210, 63, 47)" }
							%i.fa.fa-edit
							Créez
						%hr
						%p Proposez votre espace gratuitement en 2 minutes en cliquant sur "Publier une annonce" dans le menu en haut à droite.
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(210, 63, 47)" }
							%i.fa.fa-comments
							Communiquez
						%hr
						%p Répondez aux demandes de renseignements que vous envoient les utilisateurs depuis la messagerie interne du site.
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(210, 63, 47)" }
							%i.fa.fa-check
							Validez
						%hr
						%p Quand un utilisateur est intéressé, il préréserve. Vous pouvez alors valider ou non la réservation depuis votre espace propriétaire.
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(210, 63, 47)" }
							%i.fa.fa-home
							Accueillez
						%hr
						%p Signez le contrat avec le locataire et obtenez de bonnes appréciations pour augmenter vos chances de relouer!
			
			%hr	
			%h3 Vous cherchez un espace?
			%br
			.row{ "data-equalizer" => "" }
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(84, 151, 86)" }
							%i.fa.fa-search
							Cherchez
						%hr
						%p Entrez le lieu et les dates qui vous intéressent puis choisissez l'espace qui vous convient le mieux!
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(84, 151, 86)" }
							%i.fa.fa-envelope
							Contactez
						%hr
						%p Si des informations vous manquent, contactez directement le propriétaire en vous rendant sur l'annonce de votre choix puis en cliquant sur "Contacter le propriétaire"
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(84, 151, 86)" }
							%i.fa.fa-book
							Réservez
						%hr
						%p Votre choix est fait, envoyez une demande de réservation au propriétaire.
				.large-3.medium-6.small-12.columns
					.panel{ "data-equalizer-watch" => "" }
						%h3{ style: "color:rgb(84, 151, 86)" }
							%i.fa.fa-suitcase
							Déposez
						%hr
						%p Signez le contrat avec le propriétaire et déposez vos affaires en toute tranquillité!
						
- content_for :scripts do
	:javascript
		var input = document.getElementById('location_field');
		var autocomplete = new google.maps.places.Autocomplete(input, {
			types: ["geocode"]
		});
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		var checkin = $('#filter_start_date').fdatepicker({
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() < now.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				checkout.update(newDate);
				}
				checkin.hide();
				$('#filter_end_date')[0].focus();
		}).data('datepicker');
		var checkout = $('#filter_end_date').fdatepicker({
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			checkout.hide();
		}).data('datepicker');
		$("#filter_address").geocomplete();