%script{:src => "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;language=en", :type => "text/javascript"}
%section#homepage-hero
	.row
		.panel.home_page_panel
			%h1 Share Stockage
			%br
			%h3 Garde-meuble Suisse entre particuliers - Site 100% gratuit
			
	.small-12.columns.small-centered.panel.index-header-panel
		= form_for '#', method: :get, url: adverts_path, id: "adverts_filter_form" do
			.row
				.small-10.columns.small-centered
					.row.collapse
						.small-8.large-9.columns
							= text_field_tag "filter[address]", (params[:filter][:address] rescue nil), placeholder: "Où souhaitez-vous stocker?", id: "location_field"
						.small-4.large-3.columns
							= button_tag(type: "submit", class: "button postfix") do
								%i.fa.fa-search
								Rechercher

%section.main-content
	.row
		.large-12.small-12.columns
			.row
				%h3.subheader{ style: "text-align:center; margin-bottom: 40px;" } Share Stockage: Trouvez un garde-meuble plus proche et moins cher
			.row{ "data-equalizer" => "" }
				.small-12.medium-12.large-5.columns
					= image_tag "garde-meuble-stockage.png"
				.small-12.medium-12.large-6.columns
					%h4
						%i.fa.fa-lightbulb-o{ style: "margin-right: 10px" }
						Economique
					%h6 Vous payez moins cher que chez un professionnel du self-stockage et faites gagner de l'argent à votre voisin.
					%h4
						%i.fa.fa-tree{ style: "margin-right: 10px" }
						Ecologique
					%h6 Pas besoin de construire des entrepôts de stockage en béton et de conduire une heure pour s'y rendre quand on peut louer une cave ou un garage comme garde-meuble!
					%h4
						%i.fa.fa-users{ style: "margin-right: 10px" }
						Plus proche
					%h6 Vos affaires sont chez vos voisins, vous pouvez donc y accéder simplement et rapidement.
					
%section.main-content
	.row#index_help_section
		.large-12.medium-12.small-12.columns
			.row
				%hr.margin-bottom-40px
				%h3.subheader{ style: "text-align:center; margin-bottom: 40px;" } Avec Share Stockage, la location box de stockage est simple et rapide
			
			.row
				.small-12.large-10.large-centered.small-centered.medium-centered.columns
					= link_to "Proposer un espace de stockage", adverts_path, method: :post, class: "button radius expand"
			.row
				.small-12.large-10.large-centered.small-centered.medium-centered.columns
					= link_to "Expliquez moi comment ça marche", help_path, class: "button radius expand secondary"
						
- content_for :scripts do
	:javascript
		var input = document.getElementById('location_field');
		var autocomplete = new google.maps.places.Autocomplete(input, {
			types: ["geocode"]
		});
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		var checkin = $('#filter_start_date').fdatepicker({
			language: 'fr',
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() < now.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				checkout.update(newDate);
				}
				checkin.hide();
				$('#filter_end_date')[0].focus();
		}).data('datepicker');
		var checkout = $('#filter_end_date').fdatepicker({
			language: 'fr',
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			checkout.hide();
		}).data('datepicker');
		$("#filter_address").geocomplete();