%h1 Modifier les dates
%hr

= form_for reservation, url: advert_reservation_path(advert, reservation), method: :put do |f|
	= f.label "Début de la réservation"
	= f.text_field :start_date, label: false
	= f.label "Fin souhaitée"
	= f.text_field :end_date, label: false

	= f.submit "Confirmer les changements", class: "button radius expand"

- content_for :scripts do
	:javascript
		var nowTemp = new Date("#{advert.starting_date}");
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		var checkin = $('#reservation_start_date').fdatepicker({
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() < now.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				checkout.update(newDate);
				}
				checkin.hide();
				$('#reservation_end_date')[0].focus();
		}).data('datepicker');
		var checkout = $('#reservation_end_date').fdatepicker({
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			checkout.hide();
		}).data('datepicker');