- content_for(:title, 'Réservations')
%section
	= render partial: "users/account_menu", locals: { item: "owner" }

	.row
		.small-12.large-12.columns
			- unless notice.nil?
				.alert-box.info.radius{ "data-alert" => "" }
					= notice
					%a{ href: "#", class: "close" } &times;
			- unless alert.nil?
				.alert-box.alert.radius{ "data-alert" => "" }
					= alert
					%a{ href: "#", class: "close" } &times;
	.row.body.sign-in
		.large-12.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2{style: "text-align:center"}
							%i.fa.fa-folder-open{style: "color:rgb(57,141,183)"}
							Réservations
							= @advert.title
						%hr
					
						.panel{ style: "background-color: white" }
							#reservations_section
								- if @advert.reservations.pending_or_running.any?
									%h4.subheader Locations en cours ou à venir
									- @advert.reservations.pending_or_running.each do |r|
										%p
											Locataire:
											%strong= r.user.username
											\-
											Réservation du
											%strong= r.start_date.strftime("%d/%m/%Y")
											au
											%strong= r.end_date.strftime("%d/%m/%Y")
											\-
											Volume:
											%strong
												= r.volume.to_i
												m³
											\-
											Durée:
											%strong= r.duration
											jours
											\-
											Prix perçu:
											%strong= r.price
											CHF
								- else
									%h4.subheader Cet espace est libre à ce jour.
								%hr
								- if @advert.reservations.pending.any?
									%p
										%i.fa.fa-exclamation-triangle
										Avant de valider une réservation, assurez-vous que vous avez suffisamment d'espace disponible dans votre box de stockage à ces dates.
								
									%table#reservations_table{ style: "width:100%;" }
										%thead
											%tr
												%th Début
												%th Fin
												%th Volume
												%th Prix perçu
												%th{ colspan: 3 } Réservation
										%tbody
											- @advert.reservations.pending.each do |r|
												%tr{ id: "row-#{r.id}" }
													%td= r.start_date.strftime("%d/%m/%Y")
													%td= r.end_date.strftime("%d/%m/%Y")
													%td
														= r.volume.to_i
														m³
													%td
														= r.price
														CHF
													%td= link_to "Valider", preview_validate_advert_reservation_path(@advert, r)
													%td= link_to "Annuler", preview_cancel_advert_reservation_path(@advert, r)
													%td
														= link_to "Contacter", '#', data: {'reveal-id' => 'contactModal'}
														#contactModal.reveal-modal{"data-reveal" => ""}
															= render partial: 'messages/contact_asker', locals: { reservation: r }
															%a.close-reveal-modal ×

								- else
									%h4.subheader Aucune demande de réservation en attente pour votre garde-meuble.

						%br
						= link_to "Retour à mon compte", owner_space_users_path, class: "button radius expand"