- if advert.pictures.any?
	%td.image_cell.hide-for-small= image_tag advert.pictures.first.image.url(:medium)
- else
	%td.image_cell.hide-for-small= image_tag "camera.png"
%td
	%h5{ style: "font-weight: bold; color:rgb(57,141,183)" }
		= advert.type_name
		de
		= advert.volume
		m³
	%ul.no-bullet
		%li
			%i.fa.fa-map-marker
			= advert.full_address if advert.address
		%li.hide-for-small
			= advert.access_type_hr

%td{ style: "text-align:right" }
	%h5
		- if advert.price
			= number_with_precision(advert.price, precision: 2)
			CHF
			%em.subheader{style: "font-size:75%;"} par mois
		
- content_for :scripts do
	:javascript
		$("tr[data-link]").click(function() {
		  window.location = $(this).data("link");
		})