%h5{ style: "font-weight:bold" }
	%i.fa.fa-edit{style: "color:rgb(57,141,183); font-size: 120%"}
	Description de votre espace de stockage
%hr

= f.label "Décrivez votre espace en quelques lignes", nil, class: 'required'
= f.text_area :description, rows: 6, label: false

.row
	.large-6.medium-6.small-6.columns
		= f.label "Type d'accès", nil, class: 'required'
		= f.select :access_type, options_for_select([["Accès sur rendez-vous", 0], ["Accès permanent", 1]]), label: false
	.large-6.medium-6.small-6.columns
		= f.label "Sécurité", nil, class: 'required'
		= f.select :security, options_for_select([["1 porte verrouillée", 1], ["2 portes verrouillées", 2], ["3 portes verrouillées", 3], ["4 portes verrouillées", 4], ["5 portes verrouillées", 5]]), label: false
.row
	.large-6.medium-6.small-6.columns
		= f.label "Etage", nil, class: 'required'
		= f.select :floor, options_for_select([["-3", -3], ["-2", -2], ["-1", -1], ["0", 0], ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]]), label: false
	.large-6.medium-6.small-6.columns
		= f.label "Conservation", nil, class: 'required'
		= f.select :preservation, options_for_select([["De base (résisitant à l'humidité)", 0], ["Normale (cartons)", 1], ["Haute (électronique)", 2]]), label: false

.row
	.large-6.medium-6.small-6.columns
		= f.label "Eclairage"
		= f.radio_button :light, true, label: "Oui"
		= f.radio_button :light, false, checked: true, label: "Non"
	.large-6.medium-6.small-6.columns
		= f.label "Gardien"
		= f.radio_button :concierge, true, label: "Oui"
		= f.radio_button :concierge, false, checked: true, label: "Non"
.row
	.large-6.medium-6.small-6.columns
		= f.label "Accès en voiture"
		= f.radio_button :car_access, true, label: "Oui"
		= f.radio_button :car_access, false, checked: true, label: "Non"
	.large-6.medium-6.small-6.columns
		= f.label "Ascenceur"
		= f.radio_button :elevator, true, label: "Oui"
		= f.radio_button :elevator, false, checked: true, label: "Non"