%h5{ style: "font-weight:bold" }
	%i.fa.fa-info-circle{style: "color:rgb(57,141,183); font-size: 120%"}
	Informations générales
%hr

= f.label "Choisissez le titre de votre annonce", nil, class: 'required'
= f.text_field :title, label: false
.row
	.large-6.medium-6.small-6.columns
		= f.label "Quel type d'espace proposez-vous?", nil, class: 'required'
		= f.select :advert_type, options_for_select([["Box", 1], ["Cave", 2], ["Garage", 3], ["Grenier", 4]], f.object.advert_type), label: false
	.large-6.medium-6.small-6.columns
		= f.label "S'agit-il d'en espace complet ou partagé?", nil
		= f.select :complete, options_for_select([["Espace partagé", false], ["Espace complet", true]], f.object.complete), label: false
.row.collapse
	= f.label "À partir de quand votre espace est-il disponible?", nil
	.small-9.large-10.columns
		= f.text_field :from_date, label: false, id: "from_date"
	.small-3.large-2.columns
		%span.postfix
			%i.fa.fa-calendar
.row
	.large-6.medium-6.small-6.columns
		%br
		= f.label "Surface", nil, class: 'required'
		.row.collapse
			.small-9.large-10.columns
				= f.number_field :area, label: false, step: "any", id: "area"
			.small-3.large-2.columns
				%span.postfix m²
	.large-6.medium-6.small-6.columns
		%br
		= f.label "Hauteur", nil, class: 'required'
		.row.collapse
			.small-9.large-10.columns
				= f.number_field :height, label: false, step: "any", id: "height"
			.small-3.large-2.columns
				%span.postfix m

- content_for :scripts do
	:javascript
		$('#area').bind("keyup mouseup", function(event) {
			var height = document.getElementById('height').value;
			var area = document.getElementById('area').value;
			$('#volume').html("Ce qui équivaut à un volume de " + height * area + " m³");
		});
		$('#height').bind("keyup mouseup", function(event) {
			var height = document.getElementById('height').value;
			var area = document.getElementById('area').value;
			$('#volume').html("Ce qui équivaut à un volume de " + height * area + " m³");
		});
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		var checkout = $('#from_date').fdatepicker({
			format: 'yyyy-mm-dd',
			onRender: function (date) {
				return date.valueOf() <= now.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			checkout.hide();
		}).data('datepicker');