%h5{ style: "color: rgb(62,65,73); font-weight: bold;" }
	%i.fa.fa-map-marker{style: "color:rgb(57,141,183); font-size: 120%"}
	Indiquez l'addresse exacte de votre box de stockage
%hr

.row
	.small-12.columns
		= f.label "Adresse", nil, class: 'required'
		= f.text_field :address, id: "address_field", label: false

.row
	.small-2.columns
		= f.label "Nip", nil, class: 'required'
		= f.text_field :nip, label: false
	.small-10.columns
		= f.label "Ville", nil, class: 'required'
		= f.text_field :city, id: "city_field", label: false
/
/ .row
/ 	.small-12.columns
/ 		= f.label "Pays", nil, class: 'required'
/ 		= f.select :country, options_for_select([["Suisse", "Suisse"]]), label: false