%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1
							Réservations
							= @advert.title
						%hr
					
						.panel{ style: "background-color: white" }
							%dl.tabs{"data-tab" => ""}
								%dd.active
									%a{:href => "#panel2"} Réservations en attente
								%dd
									%a{:href => "#panel3", id: "date_tab"} Calendrier
							%br
							.tabs-content
								#panel2.content.active
									#reservations_section
										- if @advert.reservations.pending.any?
											%p
												%i.fa.fa-exclamation-triangle
												Avant de valider une réservation, assurez-vous que votre espace est disponible à ces dates en consultant la section "Calendrier". Autrement dit, veillez à ce que 2 réservations ne se chevauchent pas. En cas de problème, veuillez contacter le demandeur.
										
											%table#reservations_table{ style: "width:100%;" }
												%thead
													%tr
														%th Début
														%th Fin
														%th Prix
														%th Valider la réservation
														%th Annuler la réservation
												%tbody
													- @advert.reservations.pending.each do |r|
														%tr{ id: "row-#{r.id}" }
															%td= r.start_date.strftime("%d/%m/%Y")
															%td= r.end_date.strftime("%d/%m/%Y")
															%td
																CHF
																= r.price
															%td= link_to "Valider", preview_validate_advert_reservation_path(@advert, r)
															%td= link_to "Annuler", preview_cancel_advert_reservation_path(@advert, r)

										- else
											%h4.subheader Vous n'avez aucune demande de réservation en attente pour cet espace.									
								#panel3.content
									= render partial: "calendar"
							%br
							= link_to "Retour à mon compte", owner_space_user_path(current_user), class: "button radius"