- content_for(:title, 'Connexion')
%section#main-content
	.row.body.sign-in
		.large-4.medium-6.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2.subheader.text-center Connexion
						%hr
						.row
							.small-12.large-12.columns
								- unless notice.nil?
									.alert-box.info.radius{ "data-alert" => "" }
										= notice
										%a{ href: "#", class: "close" } &times;
								- unless alert.nil?
									.alert-box.alert.radius{ "data-alert" => "" }
										= alert
										%a{ href: "#", class: "close" } &times;

						= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
							= f.text_field :login, autofocus: true, label: false, placeholder: "Adresse email"
							= f.password_field :password, autocomplete: "off", label: false, placeholder: "Mot de passe"

							= f.submit "Se connecter", class: "button radius expand small"
							%br
							%span{ style: "font-size: 90%" }= link_to "Mot de passe oublié?", new_password_path(resource_name)
						
							%hr
							= link_to user_omniauth_authorize_path(:facebook), class: "facebook button split left-icon small radius" do
								%span
								Se connecter avec Facebook