- content_for(:title, 'Connexion')
%section#main-content
	.row.body.sign-in
		.large-7.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1.subheader Connexion
						%hr
						.row
							.small-12.large-12.columns
								- unless notice.nil?
									.alert-box.info.radius{ "data-alert" => "" }
										= notice
										%a{ href: "#", class: "close" } &times;
								- unless alert.nil?
									.alert-box.alert.radius{ "data-alert" => "" }
										= alert
										%a{ href: "#", class: "close" } &times;

						= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
							= f.label "login", "Email ou nom d'utilisateur", class: 'required'
							= f.text_field :login, autofocus: true, label: false

							= f.label "password", "Mot de passe", class: 'required'
							= f.password_field :password, autocomplete: "off", label: false

							- if devise_mapping.rememberable?
								= f.check_box :remember_me, label: false
								= f.label "remember_me", "Se souvenir de moi"
							%br
							= link_to "Mot de passe oublié?", new_password_path(resource_name)

							= f.submit "Valider", class: "button radius right success"
						
							%hr
							%h3.subheader Pas encore inscrit?
							= link_to "Créer un compte", new_registration_path(resource_name), class: "button radius expand"