%section#main-content
	.row
		- unless notice.nil?
			.alert-box.info.radius{ "data-alert" => "" }
				= notice
				%a.close{ href:"#" } x

	.row.body.sign-in
		.large-10.medium-12.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2 À propos de votre espace
						%hr
				.row
					.large-12.small-12.columns
						- if @advert.pictures.any? and @advert.pictures.count > 1
							%h4 Photos déjà présentes
							%ul.clearing-thumbs.large-block-grid-6.medium-block-grid-3.small-block-grid-3{ "data-clearing" => "" }
								- @advert.pictures.each do |p|
									-	unless p.id.nil?
										%li
											= image_tag p.image(:medium)
				.row.sign-up
					.row
						.large-4.medium-4.small-4.columns
							.panel{ style: "background-color:white" }
								%h4{ style: "color:rgb(185, 185, 185)" }
									%i.fa.fa-info
									Informations générales
							.panel{ style: "background-color:white" }
								%h4{ style: "color:rgb(185, 185, 185)" }
									%i.fa.fa-map-marker
									Localisation
							.panel{ style: "background-color:white" }
								%h4{ style: "color:rgb(185, 185, 185)" }
									%i.fa.fa-edit
									Description
							.panel{ style: "background-color:white" }
								%h4{ style: "color:rgb(185, 185, 185)" }
									%i.fa.fa-euro
									Prix
							.panel{ style: "background-color:white; border: 1px solid rgb(84, 151, 86)" }
								%h4{ style: "color:rgb(84, 151, 86)" }
									%i.fa.fa-file-image-o
									Photos

						.large-8.medium-8.small-8.columns
							%h4 Ajouter des photos à votre annonce
							%hr

							= form_for @picture, url: advert_pictures_path(@advert), html: { multipart: true, class: "dropzone", id: "new-picture" } do |f|
								.fallback
									= f.file_field :image
									= f.submit "Ajouter"
					
							%hr
							= link_to "Précédent", advert_step_path(@advert, Advert.form_steps.last), class: "button small"
							= link_to "Valider", advert_path(@advert), class: "button right small", method: :get