- content_for(:title, 'Blog')
.blog_header.large-12.columns.large-centered
	%h1 Blog Share Stockage

.row.hide-for-small
	.medium-12.columns.large-centered
		.medium-3.large-3.columns{style: "text-align:center; padding-top:10px; padding-bottom:10px"}
			%h5= link_to "Accueil", articles_path, class: "blog_category_menu"
		- Category.order(:name).each do |category|
			.medium-3.large-3.columns{style: "text-align:center; padding-top:10px"}
				%h5= link_to category.name, category_path(category), class: "blog_category_menu", id: "category_#{category.id}"
	%hr

.row
	.large-9.columns.large-centered
		%br
		%h2{style: "text-align:center"}
			%i.fa.fa-folder-open{style: "color:rgb(57,141,183)"}
			= @category.name

- if @articles.blank?
	.blog.row.bump-25
		.large-12.columns
			.post-box
				.row
					.large-9.columns.large-centered
						.new-post
							%h4.subheader{style: "text-align:center"} Aucun article actuellement dans cette catégorie.
- else
	= render partial: "articles/articles_list", locals: { articles: @articles }
			
= render partial: "articles/blog_footer"

- content_for :scripts do
	:javascript
		var category_menu = document.getElementById('category_#{@category.id}');
		category_menu.className = category_menu.className + " active_category";
