<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Share Stockage" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<div class="contain-to-grid sticky">
			<nav class="top-bar" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name">
			      <h1><%= link_to "Share Stockage", root_path, method: :get %></a></h1>
			    </li>
					<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			  </ul>
			  <section class="top-bar-section">
			    <ul class="right">
			      <li class="divider"></li>
						<li><%= link_to 'Publier une annonce', adverts_path, method: :post %></li>
			      <li class="divider"></li>
						<% if user_signed_in? %>
							<li><%= link_to "Mon compte", users_path %></li>
							<li class="divider"></li>
							<li><%= link_to "Déconnexion", destroy_user_session_path, "data-method" => :delete %></li>
						<% else %>
				      <li><%= link_to "Connexion", new_user_session_path %></li>
				      <li class="divider"></li>
				      <li><%= link_to "Inscription", new_user_registration_path %></li>
						<% end %>
			    </ul>
				</section>
			</nav>
			<%- if current_user and current_user.mailbox.inbox(unread: true).count(:id, distinct: true) > 0 %>
				<div data-alert class="alert-box success radius">
					<%= link_to conversations_path, style: "color: white;" do %>
					  Vous avez
						<%= current_user.mailbox.inbox(unread: true).count(:id, distinct: true) %>
						nouveau(x) message(s).
					<% end %>
				  <a href="#" class="close">&times;</a>
				</div>
			<% end %>
		</div>
		
		
		<!-- <div class="row">
			<% unless notice.nil? %>
				<div data-alert class="alert-box info radius">
				  <%= notice %>
				  <a href="#" class="close">&times;</a>
				</div>
			<% end %>
			<% unless alert.nil? %>
				<div data-alert class="alert-box alert radius">
					<%= alert %>
					<a href="#" class="close">&times;</a>
				</div>
			<% end %>
		</div> -->

    <%= yield %>
		
		
		<!-- FOOTER SECTION -->
		<footer>
		    <div class="row">
		        <div class="small-12 medium-6 large-6 columns section">
		            <h4>À propos</h4>
								<hr/>
		            <p>Share Stockage est le garde-meuble entre particuliers en Suisse Romande. Le site vous permet de trouver un garage, une cave ou tout autre espace de stockage près de chez vous, tout en réduisant les coûts.</p>
								<p>Share Stockage suit la tendance de la consommation collaborative, permettant à tout un chacun de mettre à disposition un espace de sa maison, pour le proposer à un autre particulier en ayant besoin pour stocker ses affaires pendant une durée définie.</p>
								<p>Le site est entièrement gratuit.</p>
		        </div>
						
		        <div class="small-12 medium-3 large-3 columns section">
		            <h4>Contact</h4>
								<hr/>
								<!-- <p>En cas de difficulté ou pour nous aider à améliorer le site:</p> -->
		            <p><i class="fa fa-envelope"></i> <%= mail_to ENV["contact_email"], "Nous écrire"%> </p>
								<p>Pour nous soutenir et nous aider à améliorer le service, vous pouvez également nous faire un don:</p>
								<p><%= render partial: 'pages/paypal_button' %></p>
								<!-- <p><i class="fa fa-facebook"></i> Facebook</p>
								<p><i class="fa fa-twitter"></i> Twitter</p>
								<p><i class="fa fa-google-plus"></i> Google plus</p> -->
		        </div>
 
		        <div class="small-12 medium-3 large-3 columns section">
		            <h4>Aide</h4>
								<hr/>
								<p><%= link_to "Comment ça marche?", help_path %></p>
								<p><%= link_to "FAQ", faq_path %></p>
								<p><%= link_to "Conditions générales d'utilisation", cgu_path %></p>
								<p><%= link_to "Modèle de lettre pour la régie", '/files/lettre_agence_model.pdf', target: '_blank' %></p>
		        </div>
		    </div>
		</footer>
 
		<!-- COPYRIGHT SECTION -->
		<section class="full-width copyright-section">
		    <div class="row">
		        <div class="large-6 medium-6 small-10 columns">
		            <p>&copy; <%= Date.today.year %> Share Stockage</p>
		        </div>
						<div class="large-4 medium-4 small-12 columns">
						</div>
		        <!-- <div class="large-2 medium-2 small-12 columns">
		            <p class="right"><%= render partial: 'pages/paypal_button' %></p>
		        </div> -->
		    </div>
		</section>
		
		
    <%= javascript_include_tag "application" %>
		<%= yield :scripts %>
  </body>
</html>