<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Garde-meuble entre particuliers en Suisse Romande. Louez votre cave, votre garage ou toute pièce inutilisée pour rentabiliser votre espace.">
    <meta name="google-site-verification" content="IHzGTeH3USy4WSIrbCefbpcIiwTLqK62E5mZNFImpg8" />
    <title><%= full_title(yield :title) %></title>
		<%= favicon_link_tag 'favicon.ico'%>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<!-- Include Facebook SDK -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div class="sticky">
			<nav class="top-bar" data-topbar>
			  <ul class="title-area">
			    <li class="name">
						<h1>
				      <%= link_to root_path, method: :get do %>
								<%= image_tag "logo_beta.png", style: "margin-left: 5px; margin-right: 5px;" %>Share Stockage
							<% end %>
						</h1>
			    </li>
					<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			  </ul>
			  <section class="top-bar-section">
			    <ul class="right">
			      <li class="divider"></li>
						<% if user_signed_in? %>
							<li><%= link_to "Mon compte", edit_user_registration_path %></li>
							<li class="divider"></li>
							<li><%= link_to "Déconnexion", destroy_user_session_path, "data-method" => :delete %></li>
						<% else %>
				      <li><%= link_to "Connexion", new_user_session_path %></li>
				      <li class="divider"></li>
				      <li><%= link_to "Inscription", new_user_registration_path %></li>
						<% end %>
						<li class="divider"></li>
						<li><%= link_to "Blog", articles_path %></li>
						<li class="divider"></li>
						<li class="active"><%= link_to 'Publier une annonce', new_advert_path %></li>
			    </ul>
				</section>
			</nav>
			<%- if current_user and current_user.pending_reservations.any? %>
				<div data-alert class="alert-box radius">
					<%= link_to owner_space_users_path, style: "color: white;" do %>
						Vous avez
						<%= current_user.pending_reservations.count %>
						demandes(s) de réservation en attente.
					<% end %>
					<a href="#" class="close">&times;</a>
				</div>
			<% end %>
		</div>
		
		
		<!-- <div class="row">
			<% unless notice.nil? %>
				<div data-alert class="alert-box info radius">
				  <%= notice %>
				  <a href="#" class="close">&times;</a>
				</div>
			<% end %>
			<% unless alert.nil? %>
				<div data-alert class="alert-box alert radius">
					<%= alert %>
					<a href="#" class="close">&times;</a>
				</div>
			<% end %>
		</div> -->

    <%= yield %>
		
		
		<!-- FOOTER SECTION -->
		<footer>
		    <div class="row">
		        <div class="small-12 medium-6 large-6 columns section">
		            <h4>À propos</h4>
								<br/>
		            <p>Share Stockage est le garde-meuble entre particuliers en Suisse Romande. Trouvez un garage, une cave ou tout autre espace de stockage près de chez vous et réduisez les coûts.</p>
								<p>Share Stockage suit la tendance de la consommation collaborative, permettant à tout un chacun de mettre à disposition un espace de sa maison, pour le proposer à un autre particulier en ayant besoin pour stocker ses affaires pendant une durée définie.</p>
		        </div>

		        <div class="small-12 medium-3 large-3 columns section">
		            <h4>Aide</h4>
								<br/>
								<p><%= link_to "Comment ça marche?", help_path %></p>
								<p><%= link_to "FAQ", faq_path %></p>
								<p><%= link_to "Conditions générales d'utilisation", cgu_path %></p>
								<p><%= link_to "Modèle de lettre pour la régie", '/files/lettre_agence_model.pdf', target: '_blank' %></p>
		        </div>

		        <!-- <div class="small-12 medium-3 large-3 columns section">
		            <h4>Contact</h4>
								<br/>
		            <p><i class="fa fa-envelope"></i> <%= mail_to ENV["contact_email"], "contact (at) sharestockage (dot) ch"%> </p>
								<p><i class="fa fa-facebook"></i> <%= link_to "Facebook", "https://www.facebook.com/sharestockage", target: '_blank' %></p>
								<p><i class="fa fa-twitter"></i> <%= link_to "Twitter", "https://twitter.com/ShareStockage", target: '_blank' %></p>
								<p><i class="fa fa-google-plus"></i> <%= link_to "Google plus", "http://google.com/+SharestockageCh0", target: '_blank' %></p>
		        </div> -->
		        <div class="small-12 medium-3 large-3 columns section">
	            <h4>Contact</h4>
							<br/>
							<ul class="inline-list social">
								<li><a href="mailto:contact@sharestockage.ch" class="mail"><i class="fa fa-envelope"></i></a></li>
				        <li><a href="https://www.facebook.com/sharestockage" class="facebook" target='_blank'><i class="fa fa-facebook"></i></a></li>
				        <li><a href="https://twitter.com/ShareStockage" class="twitter" target='_blank'><i class="fa fa-twitter"></i></a></li>
				        <li><a href="http://google.com/+SharestockageCh0" class="google-plus" target='_blank'><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						
		    </div>
		</footer>
		
    <%= javascript_include_tag "application" %>
		<%= yield :scripts %>
		<%= render 'layouts/footer' %>
  </body>
</html>